body, html {
    padding : 0px;
    height : 100%;
    font-family: helvetica, sans-serif;
    font-size: small;
} 

code{
    font-size : 14;
    font-family : monospace;
}

#wrapper {
    width:960px;
    margin: 0 auto;
}

#header {
    height:7%;
    background-color:#FFF;
    width:100%;
    border-bottom: 1px solid #000;
}
#header h1{
    font-size: 250%;
}
#navbar {
    background-color:#FFF;
    width:150px;
    float:left;
}

#navbar ul{
    padding:5;
    list-style:none;
}


#content {
    float: left;
    width: 760px;
    background-color:#FFF;
    padding-left: 30px;
    border-left: 1px solid #000;
}

#footer {
    border-top: 1px solid #000;
    font-color: #888;
    clear: both;
}
