body, html {
    padding : 0px;
    height : 100%;
    font-family: helvetica, sans-serif;
    font-size: small;
} 

#wrapper {
    width:960px;
    margin: 0 auto;
}

#header {
    height:10%;
    background-color:#FFF;
    margin: 10px auto;
    width:100%;
}
#navbar {
    background-color:#FFF;
    width:200px;
    float:left;
}

#navbar ul{
    padding:5;
    list-style:none;
}


#content {
    float: left;
    width: 760px;
    background-color:#FFF;
}

#footer {
    clear: both;
}
